@charset "UTF8";


h1#android{
font-family: 'android';
color: rgb(0, 44, 0);
}

*{
    margin: 0;
    padding: 0;
}
header{
    margin: 0px;
    background-image: linear-gradient(to top, rgb(0, 46, 0), rgb(0, 136, 0), rgb(2, 192, 2));
    box-shadow: 5px -1px 6px 5px rgb(173 171 171);
}

h1{
    text-align: center;
    font: 45px arial, verdana;
    color: white;
    padding-bottom: 20px;
}
h2{
    font-size: 30px;
    text-align: center;
    color: white;
    padding-bottom: 25px;
}
header > nav a{
    margin-right: 5px;
    padding: 5px;
    color: rgb(130, 207, 130);
    text-decoration: none;
}
header > nav a:hover{
    background-color: rgb(184, 250, 184);
    border-radius: 5px;
}
header > nav{
    padding-right: 5px;
    padding-top: 30px;
    padding-bottom: 7px;
}

h1#android{
    font-family: android;
    font-weight: auto;
    font-size: 40px;
    color: rgb(0, 71, 0);
    text-align: left;
    text-indent: 1ch;
    padding: 8px;
}
main > div article p{
    padding: 20px;
    text-align: justify;
    text-indent: 4ch;
    font-size: 18px;
}
main > div{
    border-left: 180px solid #e2dcbd;
    border-right: 180px solid #e2dcbd;
}
main > div article p #cor{
    font-weight: bolder;
    color: rgb(34, 221, 34);
}
main > div article h2{
    font-family: android;
    font-size: 23px;
    color: #12753d;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 2px;
    margin-left: 40px;
    background-image: linear-gradient(to right, #84E2AE, #cfe6cf, #ffffff);
}
main > div article p #link{
    background-color: #83E1AD;
}