@charset "UTF8";

@font-face {
    font-family: 'abnes';
    src: url(abnes.otf); format(opentype);
    font-weight: normal;
}
*{
    padding: 0px;
    margin: 0px;
}

:root{
    --fg: 'abnes';

    --color1: #F1A0F2;
    --color2: #5955D9;
    --color3: #312E8C;
    --color4: #252377;
}

body{
    background-image: linear-gradient(to top, #F1A0F2, #5955D9, #312E8C, #252377);
}
header {
    padding: 20px;
    min-width: 320px;
    max-height: 800px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--color1), var(--color2), var(--color3), var(--color4));
    box-shadow: 1px 1px 7px black;
}

header > h1 {
    font-family: var(--fg);
    font-size: 4em;
    padding-bottom: 40px;
    max-width: 1000px;
    min-width: 280px;
    margin: auto;
    color: white;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    color: white;

}

article{
    box-shadow: 2px 12px 11px rgb(0, 0, 0);
    max-width: 1000px;
    min-width: 280px;
    margin: auto;
    padding: 20px;
    font-size: 1.2em;
    background-color: #6e6a6a;
    color: white;
    border-radius: 9px 9px 0px 0px;
    
}
article h2{
    font-family: var(--fg);
    font-size: 1.4em;
    padding: 7px;
    margin: 10px;
    margin-right: -18px;
    margin-left: -18px;
    text-indent: 1em;
    background-image: linear-gradient(to right, var(--color1), var(--color2), var(--color3));
    border-radius: 3px;
    box-shadow: 2px 3px 7px black;

}

article p{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    text-align: justify;
    text-indent: 2em;
    text-shadow: 2px 2px 2px black;
}